<% unless cart.line_items.empty? %>
<h1>Your Cart</h1>

<table>
  <%= render(cart.line_items) %>

  <tr>
    <td colspan="2">Total</td>
    <td><%= number_to_currency(cart.total_price) %></td>
  </tr>
</table>

<%= button_to 'Empty cart', cart, method: :delete, data: {confirm: 'Are you sure?' } %>
<% end %>
