@import "bootstrap";

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  margin-left: 20px;
  margin-right: 20px;
}

body {
  background: #ffffff;
  font-family: 'Gotham', sans-serif;
  height:100%;
  left: 15%;
  right: 15%;
  bottom: 0px;
  margin-top: 60px;
}

h1 {
  text-align: center;
  color: #0099CC;
  line-height: 30px;
}

h2{
  text-align: center;
  color: #0099CC;
  line-height: 30px;
  margin-top: 55px;
}

a:link, a:active {
   color: #000000;
}

a:visited {
 color: #6699FF;
}

em {
  color: #000000;
}

#notice {
  color: #000 !important;
  border: 2px solid green;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #ccc;
  font-family: 'Gotham', sans-serif;
}

#columns {
  background: #fff;

  #main {
    margin-left: 10em;
    padding: 1em;
    background: white;
  }

  #side {
    float: right;
    width: 14 em;
    background: #4C4C4C;

    form, div {
      display: inline;
    }

    input {
      font-size: small;
    }

    #cart {
      font-size: smaller;
      color:   white;

      table {
        border-top:     2px dotted #dd4433;
        border-bottom:  2px dotted #dd4433;
        margin-bottom:  10px;
      }
    }

    ul {
      padding: 0;
      li {
        list-style: none;
        a{
          color: #bfb;
          font-size: small;
        }
      }
    }
  }
}


.products {
  table {
    border-collapse: collapse;
    width: 1300px;
    margin: 30px;
  }

.list_image {
  width: 60px;
  height: 70px;
}

.list_description {
  width: 60%;

  dl {
    margin: 0;
  }

  dt {
    color:        #244;
    font-weight:  bold;
    font-size:    larger;
  }

  dd {
    margin: 0;
  }
}
  
  .list_actions {
    font-size:   x-small;
    text-align:  right;
    padding-left: 1em;
  }

  .list_line_even {
    background:    #ffffff;
    float: left;
  }

  .list_line_odd {
    background: #FFFFFF;
    float: left;
  }
}

.carts, #side #cart {
  .item_price, .total_line {
    text-align: right;
  }
  
  .total_line .total_cell {
    font-weight: bold;
    border-top: 3px solid #dd4433;
  }
}

.shopnow_form {
  fieldset {
    background: #ffffff;

    legend {
      color: #dfd;
      background: #66aadd;
      font-family: sans-serif;
      padding: 1.2em 1em;
    }
}

form {
  label {
    width: 4em;
    float: left;
    text-align: right;
    padding-top: 1.2em;
    margin-right: 0.1em;
    display: block;
  }

  select, textarea, input {
    margin-left: 1.5em;
  }

  .submit {
    margin-left: 4em;
  }

  br {
    display: none
    }
  }
}

#wrapper {
  min-height:100%;
  position:float;
}

#footer {
  width:100%;
  height:20px;
  position:absolute;
  bottom:0;
  left:0;
  background:#ffffff;
}

.entry {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 55px;
}

.products {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 55px;
}

.orders {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 55px;

  table {
    padding: 10px;
    letter-spacing: 1px;
  }

  td {
    padding: 10px;
  }

  th {
    padding: 10px;
  }

  tr {
    padding: 10px;
  }
}

.stores {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 55px;
}


.shop{
  h1 {
    margin: 0;
    padding-bottom: 0.5em;
    font: 150% sans-serif;
    color: #226;
    border-bottom: 3px dotted #77d;
  }


  .entry{
    overflow: auto;
    margin-top: 1em;
    border-bottom: 1px dotted #77d;
    min-height: 100px;

  img {
    width: 80px;
    margin-right: 5px;
    margin-bottom: 5px;
    position: absolute;
  }
  
  h3{
    font-size:  120%;
    font-family: sans-serif;
    margin-left: 100px;
    margin-top: 0;
    margin-bottom: 2px;
    color: #227;
  }

  p, div.price_line {
    margin-left: 100px;
    margin-top: 0.5em;
    margin-bottom: 0.8em;

    form, div {
      display: inline;
    }
  }

  .price {
    color: #44a;
    font-weight: bold;
    margin-right: 3em;
    }
  }
}

@-ms-viewport{
  width: device-width;
}

/* Portrait iPhone 6 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
  
    body {
    width: 400px;
    font-size: 16px;
  }
}

/* Landscape iPhone 6*/
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
 
    body {
    width: 600px;
    font-size: 16px;
  }

    #footer {
      clear: both;
    }
}

/* iPad */
@media only screen and (min-width: 768px) 
and (max-width: 1024px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 1) {
  
  body {
    width: 800px;
    font-size: 16px;
  }
}

/* Non-Retina Screens */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
  
  body {
    width: 1220px;
    font-size: 16px;
  }
}

/*  Retina Screens  */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
  
  body {
    width: 1320px;
    font-size: 16px;
  }
}

